---
---

@import "{{ site.theme }}";

.page-header {
    background-color: #fff;
    background-image: none;
    padding: 2rem 6rem;
    .btn, .project-tagline {
        display: none;
    }
    .project-name {
        background-image: url(/assets/images/23andOMG-logo.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center top;
        text-indent: -10000px;
        height: 300px;

    }
}