---
---

@import "{{ site.theme }}";

.page-header {
    background-color: #fff;
    .btn, .project-tagline {
        display: none;
    }
    .project-name {
        background-image: url(/23andOMG/assets/images/23andOMG-logo.png);
        background-repeat: no-repeat;
        background-size: contain;
        text-indent: -10000px;
        height: 200px;
    }
}